In [6]:
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np
from glob import glob
from os.path import join
from collections import Counter
import sys

from ScalableLib.base import plot as plot

In [10]:
##### survey = 'ZTF'
path ='../../01_BandModelsTrain/{}/Results/Fold_*'.format(survey)
folds = glob(path)
folds.sort()
folds.remove('../../01_BandModelsTrain/ZTF/Results/Fold_3')
folds.remove('../../01_BandModelsTrain/ZTF/Results/Fold_5')

In [11]:
reports = []
for fold in folds:
    
    classification_path = join(fold, 'Classification_test.dat')
    classification = pd.read_csv(classification_path)
    # True and pred are inverted, because I'm dumb
    report = classification_report(classification.Pred, classification.Class, output_dict=True, zero_division=0,)
    reports.append(report)

In [13]:
label_order = ['SNIa', 'QSO','AGN', 'Blazar', 'YSO', 'CV/Nova', 'RRL', 'LPV', 'E', ]
median, delta_up, delta_down = plot.obtain_accumulated_metrics(reports, metric='median', label_order=label_order)
display(median)
display(delta_up)
display(delta_down)

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.75,0.73,0.55,0.0,0.43,0.50,0.79,0.92,0.75
recall,0.82,0.95,0.04,0.0,0.02,0.18,0.80,0.96,0.82
f1-score,0.75,0.82,0.07,0.0,0.04,0.25,0.79,0.94,0.78
support,101.00,2000.00,484.00,218.0,159.00,152.00,2000.00,1863.00,2000.00

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.042847,0.006382,0.041094,0.125000,0.163636,0.159894,0.007546,0.008717,0.012703
recall,0.037129,0.008000,0.003616,0.001147,0.020440,0.057566,0.016500,0.001476,0.013625
f1-score,0.025865,0.006170,0.005863,0.002273,0.035630,0.061110,0.011971,0.004101,0.013127
support,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.097763,0.009854,0.036403,0.0,0.091558,0.173407,0.015014,0.005947,0.014963
recall,0.066832,0.014500,0.004132,0.0,0.012579,0.072368,0.028375,0.001342,0.010875
f1-score,0.068232,0.006746,0.007004,0.0,0.023275,0.077884,0.021766,0.003396,0.015991
support,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [14]:
accuracies = [reports[i]['accuracy'] for i in range(len(reports))]
np.median(accuracies), np.mean(accuracies)

(0.7845048457168319, 0.7830567004567228)