In [1]:
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np
from glob import glob
from os.path import join
from collections import Counter
import sys

from ScalableLib.base import plot as plot

In [3]:
survey = 'ZTF'
path ='../../01_BandModelsTrain/{}/Results/Fold_*'.format(survey)
folds = glob(path)
folds.sort()

In [4]:
reports = []
for fold in folds:
    
    classification_path = join(fold, 'Classification_test.dat')
    classification = pd.read_csv(classification_path)
    # True and pred are inverted, because I'm dumb
    report = classification_report(classification.Pred, classification.Class, output_dict=True, zero_division=0,)
    reports.append(report)

In [5]:
label_order = ['SNIa', 'QSO','AGN', 'Blazar', 'YSO', 'CV/Nova', 'RRL', 'LPV', 'E', ]
median, delta_up, delta_down = plot.obtain_accumulated_metrics(reports, metric='median', label_order=label_order)
display(median)
display(delta_up)
display(delta_down)

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.74,0.74,0.53,0.0,0.45,0.62,0.79,0.92,0.75
recall,0.79,0.94,0.04,0.0,0.03,0.15,0.82,0.97,0.83
f1-score,0.74,0.83,0.08,0.0,0.05,0.25,0.80,0.94,0.79
support,101.00,2000.00,484.00,218.0,159.00,152.00,2000.00,1863.00,2000.00

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.027116,0.001511,0.036734,0.0,0.331169,0.086654,0.015091,0.007977,0.008022
recall,0.039604,0.007250,0.013430,0.0,0.018868,0.101974,0.010750,0.002147,0.007000
f1-score,0.038271,0.001926,0.021833,0.0,0.030670,0.074975,0.008931,0.005268,0.006511
support,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

,SNIa,QSO,AGN,Blazar,YSO,CV/Nova,RRL,LPV,E
precision,0.019037,0.009328,0.031635,0.0,0.058893,0.158542,0.031478,0.002999,0.013630
recall,0.089109,0.022500,0.008264,0.0,0.018868,0.069079,0.020500,0.001879,0.021750
f1-score,0.042487,0.007981,0.014009,0.0,0.035693,0.113146,0.013702,0.001904,0.019654
support,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
accuracies = [reports[i]['accuracy'] for i in range(len(reports))]
np.median(accuracies), np.mean(accuracies)

(0.7870112509747131, 0.7868839415012969)